.logo{
    width: 180px;
    height: 80px;
    margin: 50px 0; /* 50px on top and bottom and 0 on the left and right*/
}
.search-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing {
    display: flex;
    justify-content: center;
}